@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');

@import "tailwindcss";

* {
  font-family: "Akshar", sans-serif;
}

@theme {
  --color-primary:#2563FB;
  --color-primary-dull: #1F58D8;
  --color-light: #F1F5F9;
  --color-light: #F1F5F9;
  --color-borderColor: #c4c7d2;
}